
.notificationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin: 1rem 0;
}

.notificationText {
  font-size: 1.5rem;
  color: #a7a3a1;
  text-align: center;

}
