#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background: linear-gradient(to right, #e0f7fa, #b2ebf2);
}

.appContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
  min-height: 100vh;
}



